.slideshow {
    margin-top: 90px;
    height: 350px; /* 슬라이드 높이 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 이미지가 컨테이너를 넘지 않도록 */
    position: relative; /* 자식 요소의 absolute 위치 기준 */
}

.slideshow img {
    width: 100%; /* 컨테이너 너비에 맞추기 */
    height: 100%; /* 컨테이너 높이에 맞추기 */
    object-fit: cover; /* 컨테이너 크기에 맞춰 비율 유지 */
    position: absolute; /* 슬라이드 애니메이션을 위해 설정 */
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1) translateX(-1rem) rotate(-5deg);
    transition: all 0.5s ease-in-out;
}

.slideshow .active {
    z-index: 1;
    opacity: 1;
    transform: scale(1) translateX(0) rotate(0);
}
